<template>
  <div class="autocomplete">
    <div>
      <div class="input" @click="toggleVisible">{{ title }}</div>
      <div class="popover" v-show="isVisible">
        <input
          type="text"
          v-on:keyup="search"
          v-model="query"
          placeholder="..."
        />
        <div class="options">
          <ul>
            <li
              v-for="(item, index) in matches"
              :key="item.id"
              @click="itemClicked(index)"
            >
              {{ item[filterBy] }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

interface KeyedObject {
  [key: string]: string;
}

@Component
export class AutoComplete extends Vue {
  @Prop()
  private items!: KeyedObject[];
  @Prop()
  private filterBy!: string;
  @Prop()
  private title!: string;
  @Prop()
  private searchFunction!: (
    settingId: number,
    searchString: string
  ) => Promise<KeyedObject[]>;
  @Prop()
  private settingId!: number;

  private matches: KeyedObject[] = [];
  private isVisible = false;
  private query = '';

  async search(): Promise<void> {
    if (this.query.length < 2) {
      this.matches = [];
      return;
    }

    this.matches = await this.searchFunction(this.settingId, this.query);
  }

  private itemClicked(index: number) {
    console.log(
      `Clicked item in autocomplete: ${JSON.stringify(this.matches[index])}`
    );
    this.$emit('itemClicked', this.matches[index]);
    this.query = '';
    this.matches = [];
    this.isVisible = false;
  }

  private toggleVisible() {
    this.isVisible = !this.isVisible;
  }
}

export default AutoComplete;
</script>

<style scoped>
.autocomplete {
  margin-left: auto;
}
.input {
  height: 40px;
  border-radius: 3px;
  border: 2px solid lightgray;
  box-shadow: 0 0 10px grey;
  font-size: 25px;
  padding-top: 10px;
  cursor: pointer;
}
.popover {
  min-height: 50px;
  border: 2px solid lightgray;
  position: absolute;
  top: 46px;
  right: 0;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  z-index: 1;
}
.popover input {
  width: 255px;
  margin-top: 5px;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding-left: 8px;
}
.options {
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 5px;
}
.options ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}
.options ul li {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
  background: #ececec;
  color: black;
}
.options ul li:hover {
  background: #b5b5b5;
}
</style>
