<template>
  <div class="character-list">
    <h3>Characters</h3>
    <div v-for="character in characters" :key="character.id">
      <CharacterElementComponent :character="character" />
    </div>
  </div>
</template>

<script lang="ts">
import { Character } from '@/models/Character';
import { Component, Vue } from 'vue-property-decorator';
import CharacterElementComponent from './CharacterElementComponent.vue';

@Component({
  components: {
    CharacterElementComponent
  }
})
class CharacterList extends Vue {
  get characters(): Character[] {
    return this.$store.getters['characterModule/characters'];
  }
}

export default CharacterList;
</script>
<style scoped>
.character-list {
  width: 30%;
  height: 75%;
  display: flex;
  flex-direction: column;
  float: right;
  margin: 1%;
  font-size: x-large;
  color: #bbbec6;
}
</style>
