<template>
  <div style="color: #bbbec6">
    <h1>Create A Character</h1>
    <form class="character-form" v-on:submit.prevent="createCharacter">
      <div>
        <select
          name="settings"
          id="settings"
          class="character-form-element"
          v-model="character.setting"
          v-on:change="updateSettingData()"
        >
          <option
            v-for="setting in settings"
            :key="setting.id"
            :value="setting"
          >
            {{ setting.name }}
          </option>
        </select>
      </div>
      <div class="top-div">
        <input
          v-model="character.name"
          class="name-input"
          placeholder="Character name..."
        />
        <input
          v-model="character.maxHp"
          class="name-input"
          placeholder="Maximum HP..."
        />
        <select
          class="character-form-element"
          name="races"
          id="races"
          v-model="character.race"
        >
          <option v-for="race in races" :key="race.id" :value="race">
            {{ race.name }}
          </option>
        </select>
        <select
          class="character-form-element"
          name="classes"
          id="classes"
          v-model="character.clazz"
        >
          <option v-for="clazz in classes" :key="clazz.id" :value="clazz">
            {{ clazz.name }}
          </option>
        </select>
      </div>
      <div>
        <h3>Stats</h3>
        <div class="list-div">
          <div
            class="list-element-div"
            v-for="(charStat, index) in characterStats"
            :key="index"
          >
            {{ charStat.stat.name }}
            <input
              class="list-input"
              v-model="characterStats[index].value"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <h3>Skills</h3>
        <div class="list-div">
          <div
            class="list-element-div"
            v-for="(charSkill, index) in characterSkills"
            :key="index"
          >
            {{ charSkill.skill.name }}
            <input
              class="list-input"
              v-model="characterSkills[index].experience"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <button class="submit-button" type="submit" style="min-width: 225px">
          Submit
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Character } from '@/models/Character';
import { CharacterSkill } from '@/models/CharacterSkill';
import { CharacterStat } from '@/models/CharacterStat';
import { Class } from '@/models/Class';
import { Race } from '@/models/Race';
import Setting from '@/models/Setting';
import { Skill } from '@/models/Skill';
import { Stat } from '@/models/Stat';
import { Component, Vue } from 'vue-property-decorator';

@Component
class CharacterForm extends Vue {
  character: Character = {
    id: undefined,
    name: '',
    user: undefined,
    setting: this.settings[0],
    race: this.races[0],
    clazz: this.classes[0],
    hp: 0,
    maxHp: undefined,
    endurantCharges: 0,
    toxicity: 0,
    hunger: 0
  };
  characterSkills: CharacterSkill[] = [];
  characterStats: CharacterStat[] = [];

  async mounted(): Promise<void> {
    await this.updateSettingData();

    this.characterSkills = this.skills.map((skill) => {
      console.log(`Skill ${skill.name}`);
      const charSkill = new CharacterSkill();
      charSkill.skill = skill;
      charSkill.character = this.character;
      charSkill.experience = 0;
      return charSkill;
    });

    this.characterStats = this.stats.map((stat) => {
      console.log(`Stat ${stat.name}`);
      const charStat = new CharacterStat();
      charStat.stat = stat;
      charStat.character = this.character;
      charStat.value = 0;
      return charStat;
    });
  }

  private async updateSettingData() {
    console.log(`Setting updated to ${this.character.setting}`);
    await this.$store.dispatch(
      'settingModule/fetchRaceBySettingId',
      this.character.setting.id
    );
    await this.$store.dispatch(
      'settingModule/fetchClassBySettingId',
      this.character.setting.id
    );
    await this.$store.dispatch(
      'settingModule/fetchSkillsBySettingId',
      this.character.setting.id
    );
    await this.$store.dispatch(
      'settingModule/fetchStatsBySettingId',
      this.character.setting.id
    );
  }

  private async createCharacter() {
    this.character.user = await this.$store.getters['userModule/currentUser'];
    this.character.hp = this.character.maxHp || 0;
    this.character.endurantCharges = this.buildMaxEndurantCharges();
    console.log(`SUBMITTING CHARACTER ${JSON.stringify(this.character)}`);
    const characterResponse = await this.$store.dispatch(
      'characterModule/createCharacter',
      this.character
    );
    const charId = characterResponse.id;
    this.characterSkills.forEach((skill) => {
      skill.character.id = charId;
    });
    this.characterStats.forEach((stat) => {
      stat.character.id = charId;
    });
    await this.$store.dispatch(
      'characterModule/insertSkills',
      this.characterSkills
    );
    await this.$store.dispatch(
      'characterModule/insertStats',
      this.characterStats
    );
    this.$router.push('/');
  }

  get settings(): Setting[] {
    return this.$store.getters['settingModule/settings'];
  }

  get races(): Race[] {
    return this.$store.getters['settingModule/races'];
  }

  get classes(): Class[] {
    return this.$store.getters['settingModule/classes'];
  }

  get skills(): Skill[] {
    return this.$store.getters['settingModule/skills'];
  }

  get stats(): Stat[] {
    return this.$store.getters['settingModule/stats'];
  }

  private buildMaxEndurantCharges() {
    const endurance = this.characterStats.find((charStat) => {
      charStat.stat.name == 'Endurance';
    });
    if (!endurance) {
      console.log('No endurance stat found');
      return 0;
    }

    const enduranceValue = endurance.value;
    if (enduranceValue > 19) {
      return 5;
    }
    if (enduranceValue > 17) {
      return 4;
    }
    if (enduranceValue > 14) {
      return 3;
    }
    if (enduranceValue > 11) {
      return 2;
    }
    return 1;
  }
}

export default CharacterForm;
</script>
<style scoped>
.character-form {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
}
.character-form-element {
  margin: 1%;
  width: 10%;
  font-size: x-large;
  min-width: 225px;
}
.name-input {
  margin: 1%;
  width: 15%;
  font-size: x-large;
  min-width: 225px;
}
.top-div {
}
.submit-button {
  margin: 5%;
  width: 25%;
  font-size: x-large;
}
.list-input {
  margin-left: 1%;
  font-size: x-large;
  margin-left: auto;
}
.list-div {
  display: flex;
  flex-direction: column;
}
.list-element-div {
  display: flex;
  min-width: 550px;
}
</style>
