<template>
  <div class="character-div" @click="playCharacter">
    <div>
      <h4 style="font-size: xx-large">{{ character.name }}</h4>
    </div>
    <div style="margin-left: auto">
      <h4 style="margin-left: auto">
        {{ character.race.name }}, {{ character.clazz.name }}
      </h4>
      <h4 style="margin-left: auto">
        <i>{{ character.setting.name }}</i>
      </h4>
    </div>
  </div>
</template>

<script lang="ts">
import { Character } from '@/models/Character';
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
class CharacterElementComponent extends Vue {
  @Prop()
  private character!: Character;

  private async playCharacter() {
    console.log(`My character: ${JSON.stringify(this.character)}`);
    this.$router.push(`/play/${this.character.id}`);
  }
}

export default CharacterElementComponent;
</script>
<style scoped>
.character-div {
  padding: 5%;
  margin-bottom: 2.5%;
  border: 2px solid #393c43;
  color: #bbbec6;
  border-radius: 5px;
  background-color: #393c43;
  display: flex;
}
.character-div:hover {
  background-color: #34363c;
}
.character-div h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}
</style>
