<template>
  <div>
    <div class="roll-info-div">
      <div class="dice-wrapper-div">
        <div
          class="dice-div"
          v-for="(rollResult, index) in rollResults"
          :key="index"
        >
          <div style="min-width: 75px; text-align: left">
            {{ rollResult.dice.toString() }} : {{ rollResult.result }}
          </div>
          <button @click="removeDice(rollResult)">X</button>
        </div>
      </div>
      <div class="modifier-div">
        <p>{{ modifierText }}</p>
        <button @click="removeModifier">X</button>
      </div>
    </div>
    <div class="roll-control-div">
      <h3>{{ currentRoll }}</h3>
      <h4 style="color: red">{{ criticalString }}</h4>
      <div>
        <button @click="reRoll">Roll Again</button>
      </div>
    </div>
    <div class="dice-button-div">
      <div
        class="dice-button"
        v-for="(dice, index) in dicePresets"
        :key="index"
      >
        <button @click="addDice(dice)">d{{ dice.diceSides }}</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { CharacterEquipment } from '@/models/CharacterEquipment';
import { CharacterStatusEffect } from '@/models/CharacterStatusEffect';
import { Dice } from '@/models/Dice';
import { RollData } from '@/models/RollData';
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component
class DiceRoller extends Vue {
  @Prop()
  private characterEquipment!: CharacterEquipment[];
  @Prop()
  private characterStatusEffects!: CharacterStatusEffect[];
  @Prop()
  private rollData!: RollData;

  private rollResults: { dice: Dice; result: number }[] = [];
  private criticalString = '';
  private modifier = 0;
  private currentRoll = 0;
  private dicePresets = [
    new Dice(4, 1),
    new Dice(6, 1),
    new Dice(8, 1),
    new Dice(10, 1),
    new Dice(12, 1),
    new Dice(20, 1)
  ];

  @Watch('rollData')
  onPropertyChanged(
    value: RollData | undefined,
    oldValue: RollData | undefined
  ): void {
    console.log(
      `selected skill changed : ${JSON.stringify(value)}, ${JSON.stringify(
        oldValue
      )}`
    );
    if (value) {
      this.modifier = value.modifier;
      this.rollDice(value.dice);
    }
  }

  private reRoll() {
    const diceList = this.rollResults.map((result) => {
      return result.dice;
    });

    this.rollDice(diceList);
  }

  private rollDice(diceList: Dice[]) {
    this.rollResults = [];
    let totalRoll = 0;
    let index = 0;
    for (let dice of diceList) {
      const diceRoll = dice.roll();
      if (index == 0) {
        if (diceRoll == 20) {
          this.criticalString = 'CRITICAL SUCCESS';
        } else if (diceRoll == 1) {
          this.criticalString = 'CRITICAL FAILURE';
        } else {
          this.criticalString = '';
        }
      }
      index++;
      this.rollResults.push({ dice: dice, result: diceRoll });
      totalRoll += diceRoll;
    }
    totalRoll += this.modifier;
    this.currentRoll = totalRoll;
  }

  private addDice(dice: Dice) {
    const diceRoll = dice.roll();
    this.rollResults.push({ dice: dice, result: diceRoll });
    this.currentRoll += diceRoll;
    this.criticalString = '';
  }

  private removeDice(resultToRemove: { dice: Dice; result: number }) {
    this.rollResults = this.rollResults = this.rollResults.filter(
      (rollResult) => {
        if (rollResult === resultToRemove) {
          this.currentRoll -= rollResult.result;
          return false;
        }

        return true;
      }
    );
    this.criticalString = '';
  }

  private removeModifier() {
    this.modifier = 0;
  }

  get modifierText(): string {
    const sign = Math.sign(this.modifier) >= 0 ? '+' : '-';
    const modifier = Math.abs(this.modifier);
    return `${sign} ${modifier}`;
  }
}

export default DiceRoller;
</script>
<style scoped>
.roll-info-div {
  display: flex;
}
.dice-div {
  padding: 2%;
  display: flex;
}
.modifier-div {
  margin-left: auto;
  margin-top: auto;
}
.roll-control-div {
}
.dice-wrapper-div {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.dice-button-div {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.dice-button {
  padding: 1%;
}
.dice-div button {
  margin-left: auto;
}
</style>
