<template>
  <div class="list-content-div">
    <auto-complete
      class="autocomplete"
      :items="allEquipment"
      :searchFunction="searchEquipment"
      :settingId="settingId"
      title="+"
      filterBy="name"
      v-on:itemClicked="addEquipment"
    />
    <div class="equipmentList">
      <table style="width: 100%; font-size: large">
        <tr>
          <th class="table-header-first"><b>Name</b></th>
          <th style="text-align: left">Notes</th>
          <th style="text-align: left">Modifiers</th>
          <th><b>Equipped</b></th>
          <th></th>
        </tr>
        <tr
          v-for="(characterEquipment, index) in characterEquipments"
          :key="index"
          class="table-row"
          @click="selectEquipment(characterEquipment)"
        >
          <td class="table-data-first">
            {{ characterEquipment.equipment.name }}
          </td>
          <td
            v-if="selectedEquipmentId !== characterEquipment.id"
            class="notes-td"
          >
            {{ getNotesText(characterEquipment) }}
          </td>
          <td v-else class="notes-td">
            {{ characterEquipment.equipment.notes }}
          </td>
          <td class="notes-td">
            {{ getShortText(characterEquipment) }}
          </td>
          <td style="width: 5%" @click.stop>
            <input
              type="checkbox"
              style="margin-top: auto"
              v-model="characterEquipment.isEquipped"
              v-on:change="toggleEquip(characterEquipment)"
            />
          </td>
          <td style="width: 5%" @click.stop>
            <button
              class="removeItemButton"
              @click="removeEquipment(characterEquipment)"
            >
              X
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { CharacterEquipment } from '@/models/CharacterEquipment';
import { Equipment } from '@/models/Equipment';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AutoComplete } from './Autocomplete.vue';

@Component({ components: { AutoComplete } })
class EquipmentList extends Vue {
  @Prop()
  private characterEquipments!: CharacterEquipment[];
  @Prop()
  private allEquipment!: Equipment[];

  private selectedEquipmentId = -1;

  get settingId(): number {
    return this.$store.getters['characterModule/currentCharacter'].setting.id;
  }

  async searchEquipment(
    settingId: number,
    searchString: string
  ): Promise<Equipment[]> {
    console.log('searching');
    return await this.$store.dispatch(
      'settingModule/searchEquipmentBySettingId',
      {
        settingId,
        searchString
      }
    );
  }

  selectEquipment(characterEquipment: CharacterEquipment): void {
    if (this.selectedEquipmentId === characterEquipment.id) {
      this.selectedEquipmentId = -1;
      return;
    }
    this.selectedEquipmentId = characterEquipment.id || 0;
  }

  async mounted(): Promise<void> {
    const character = this.$store.getters['characterModule/currentCharacter'];
    await this.$store.dispatch(
      'characterModule/fetchEquipmentByCurrentCharacter',
      character.id
    );
  }

  private addEquipment(equipment: Equipment) {
    this.$emit('addEquipment', equipment);
  }

  private removeEquipment(equipment: CharacterEquipment) {
    this.$emit('removeEquipment', equipment);
  }

  private toggleEquip(equipment: CharacterEquipment) {
    this.$emit('toggleEquip', equipment);
  }

  private getNotesText(characterEquipment: CharacterEquipment) {
    if (characterEquipment.id == this.selectedEquipmentId) {
      console.log('MATCHES');
      return characterEquipment.equipment.notes;
    }
    let splitNotes = characterEquipment.equipment.notes
      .split('\n')
      .filter((split) => {
        return split.length > 0;
      });
    const trimmed = splitNotes.length > 3;
    splitNotes = splitNotes.slice(0, 3);
    let returnString = splitNotes.join('\n');
    if (trimmed) {
      returnString += '...';
    }
    return returnString;
  }

  private getShortText(characterEquipment: CharacterEquipment) {
    let modText: string[] = [];
    characterEquipment.equipment.statModifiers.forEach((statModifier) => {
      let name = statModifier.stat.name;
      if (this.selectedEquipmentId !== characterEquipment.id) {
        name = name.toUpperCase();
        name = name.substring(0, 3);
      }
      modText.push(`${name} : ${statModifier.value}`);
    });
    characterEquipment.equipment.skillModifiers.forEach((skillModifier) => {
      let name = skillModifier.skill.name;
      if (this.selectedEquipmentId !== characterEquipment.id) {
        name = name.toUpperCase();
        name = name.substring(0, 3);
      }
      modText.push(`${name} : ${skillModifier.value}`);
    });
    const universalModifier = characterEquipment.equipment.universalModifier;
    if (universalModifier.hp > 0) {
      const hpString =
        this.selectedEquipmentId !== characterEquipment.id
          ? 'HP'
          : 'Health Points';
      modText.push(`${hpString} : ${universalModifier.hp}`);
    }
    if (universalModifier.armorClass) {
      const acString =
        this.selectedEquipmentId !== characterEquipment.id
          ? 'AC'
          : 'Armor Class';
      modText.push(`${acString} : ${universalModifier.armorClass}`);
    }
    if (universalModifier.movementSpeed) {
      const speedString =
        this.selectedEquipmentId !== characterEquipment.id ? 'SPD' : 'Speed';
      modText.push(`${speedString} : ${universalModifier.movementSpeed}`);
    }
    if (universalModifier.overdose) {
      const overdoseString =
        this.selectedEquipmentId !== characterEquipment.id ? 'OD' : 'Overdose';
      modText.push(`${overdoseString} : ${universalModifier.overdose}`);
    }
    if (universalModifier.universal) {
      const allString =
        this.selectedEquipmentId !== characterEquipment.id ? 'ALL' : 'All';
      modText.push(`${allString} : ${universalModifier.universal}`);
    }
    return modText.join('; ');
  }
}

export default EquipmentList;
</script>
<style scoped>
.table-row :hover {
  color: #fdfeff;
  background: #444850;
}
.notes-td {
  text-align: left;
  font-size: small;
  white-space: pre-line;
}
.list-content-div {
  width: 100%;
}
.table-header-first {
  text-align: left;
  padding-right: 100%;
}
.table-row {
  border-color: #393c43;
  border-radius: 25px;
  background: #393c43;
  color: #bbbec6;
  border: 2px solid;
  cursor: pointer;
}
.table-data-first {
  text-align: left;
}
/* old stuff */

.autocomplete {
  position: relative;
  width: 50px;
}
.equipmentList {
  margin-top: 1%;
}
.equipmentElement {
  padding: 10px;
  display: flex;
  border-color: #393c43;
  color: #bbbec6;
  border: 2px solid;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.removeItemButton {
  align-self: right;
  height: 30%;
  margin-left: 5%;
}
input[type='checkbox'] {
  padding: 5%;
}
.equipment-element-info-div {
  display: flex;
  flex-direction: column;
  min-width: 175px;
}
h4 {
  margin-top: 1%;
  margin-left: 1%;
}
.element-control-div {
  display: flex;
  flex-direction: column-reverse;
}
.notes-p {
  white-space: pre-wrap;
}
</style>
