<template>
  <div style="color: #bbbec6">
    <h1>Create Equipment</h1>
    <form class="character-form" v-on:submit.prevent="createEquipment">
      <div>
        <select
          name="settings"
          id="settings"
          class="character-form-element"
          v-model="equipment.setting"
          v-on:change="updateSettingData()"
          style="min-width: 225px"
        >
          <option
            v-for="setting in settings"
            :key="setting.id"
            :value="setting"
          >
            {{ setting.name }}
          </option>
        </select>
      </div>
      <div class="top-div">
        <input
          v-model="equipment.name"
          class="name-input"
          placeholder="Equipment name..."
          style="min-width: 225px"
        />
      </div>
      <div class="description-div">
        <h4>Description</h4>
        <textarea v-model="equipment.notes" />
      </div>
      <div>
        <h3>Modifiers</h3>
        <div class="list-div">
          <div class="list-element-div">
            Health Points
            <input
              class="list-input"
              v-model="equipment.universalModifier.hp"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Armor Class
            <input
              class="list-input"
              v-model="equipment.universalModifier.armorClass"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Movement Speed
            <input
              class="list-input"
              v-model="equipment.universalModifier.movementSpeed"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Overdose
            <input
              class="list-input"
              v-model="equipment.universalModifier.overdose"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Universal
            <input
              class="list-input"
              v-model="equipment.universalModifier.universal"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <h3>Stat Modifiers</h3>
        <div class="list-div">
          <div
            class="list-element-div"
            v-for="(modifier, index) in statModifiers"
            :key="index"
          >
            {{ modifier.stat.name }}
            <input
              class="list-input"
              v-model="statModifiers[index].value"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <h3>Skill Modifiers</h3>
        <div class="list-div">
          <div
            class="list-element-div"
            v-for="(modifier, index) in skillModifiers"
            :key="index"
          >
            {{ modifier.skill.name }}
            <input
              class="list-input"
              v-model="skillModifiers[index].value"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <button class="submit-button" type="submit" style="min-width: 225px">
          Submit
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Equipment } from '@/models/Equipment';
import Setting from '@/models/Setting';
import { Skill } from '@/models/Skill';
import { SkillModifier } from '@/models/SkillModifier';
import { Stat } from '@/models/Stat';
import { StatModifier } from '@/models/StatModifier';
import { Component, Vue } from 'vue-property-decorator';

@Component
class EquipmentForm extends Vue {
  defaultEquipment: Equipment = {
    id: undefined,
    name: '',
    notes: '',
    setting: {
      id: -1,
      name: ''
    },
    universalModifier: {
      id: undefined,
      hp: 0,
      armorClass: 0,
      movementSpeed: 0,
      overdose: 0,
      universal: 0
    },
    statModifiers: [],
    skillModifiers: []
  };

  equipment: Equipment = {
    ...this.defaultEquipment
  };

  private async updateSettingData() {
    console.log(`Setting updated to ${this.equipment.setting}`);
    await this.$store.dispatch(
      'settingModule/fetchStatsBySettingId',
      this.equipment.setting.id
    );
    await this.$store.dispatch(
      'settingModule/fetchSkillsBySettingId',
      this.equipment.setting.id
    );
  }

  get settings(): Setting[] {
    return this.$store.getters['settingModule/settings'];
  }

  get skills(): Skill[] {
    return this.$store.getters['settingModule/skills'];
  }

  get statModifiers(): StatModifier[] {
    return this.stats.map((stat) => {
      const modifier = new StatModifier();
      modifier.setting = this.equipment.setting;
      modifier.stat = stat;
      modifier.value = 0;
      return modifier;
    });
  }

  get skillModifiers(): SkillModifier[] {
    return this.skills.map((skill) => {
      const modifier = new SkillModifier();
      modifier.setting = this.equipment.setting;
      modifier.skill = skill;
      modifier.value = 0;
      return modifier;
    });
  }

  private async createEquipment() {
    if (this.equipment.name == '') {
      alert('Name required for new equipment');
      return;
    }
    if (this.equipment.setting.id == -1) {
      alert('Setting required for new equipment');
      return;
    }

    this.equipment.statModifiers = this.statModifiers.filter((modifier) => {
      return (
        modifier.value && modifier.value !== 0 && this.isNumber(modifier.value)
      );
    });

    this.equipment.skillModifiers = this.skillModifiers.filter((modifier) => {
      return (
        modifier.value && modifier.value !== 0 && this.isNumber(modifier.value)
      );
    });

    const setting = this.equipment.setting;
    await this.$store.dispatch('settingModule/createEquipment', this.equipment);
    alert(`Created ${this.equipment.name}`);
    this.equipment = { ...this.defaultEquipment };
    this.equipment.setting = setting;
  }

  get stats(): Stat[] {
    return this.$store.getters['settingModule/stats'];
  }

  private isNumber(value: string | number) {
    const numberValue = Number(value);
    return !isNaN(numberValue);
  }
}

export default EquipmentForm;
</script>
<style scoped>
.character-form {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
}
.character-form-element {
  margin: 1%;
  width: 10%;
  font-size: x-large;
}
.name-input {
  margin: 1%;
  width: 15%;
  font-size: x-large;
}
.top-div {
}
.submit-button {
  margin: 5%;
  width: 25%;
  font-size: x-large;
}
.list-input {
  margin-left: 1%;
  font-size: x-large;
  margin-left: auto;
}
.list-div {
  display: flex;
  flex-direction: column;
}
.list-element-div {
  display: flex;
  min-width: 550px;
}
.description-div {
  width: 25%;
  height: 100%;
}
textarea {
  min-height: 100px;
  width: 100%;
}
</style>
