<template>
  <div>
    <h1>Home</h1>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
class Home extends Vue {}

export default Home;
</script>
