<template>
  <div style="color: #bbbec6">
    <h1>Create Item</h1>
    <form class="character-form" v-on:submit.prevent="createItem">
      <div>
        <select
          name="settings"
          id="settings"
          class="character-form-element"
          v-model="item.setting"
          v-on:change="updateSettingData()"
          style="min-width: 225px"
        >
          <option
            v-for="setting in settings"
            :key="setting.id"
            :value="setting"
          >
            {{ setting.name }}
          </option>
        </select>
      </div>
      <div class="top-div">
        <input
          v-model="item.name"
          class="name-input"
          placeholder="Item name..."
          style="min-width: 225px"
        />
      </div>
      <div class="description-div">
        <h4>Description</h4>
        <textarea v-model="item.notes" />
      </div>
      <div>
        <button class="submit-button" type="submit" style="min-width: 225px">
          Submit
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Item } from '@/models/Item';
import Setting from '@/models/Setting';
import { Component, Vue } from 'vue-property-decorator';

@Component
class EquipmentForm extends Vue {
  defaultItem: Item = {
    id: undefined,
    name: '',
    notes: '',
    setting: {
      id: -1,
      name: ''
    }
  };

  item: Item = {
    ...this.defaultItem
  };

  private async updateSettingData() {
    console.log(`Setting updated to ${this.item.setting}`);
  }

  get settings(): Setting[] {
    return this.$store.getters['settingModule/settings'];
  }

  private async createItem() {
    if (this.item.name == '') {
      alert('Name required for new item');
      return;
    }
    if (this.item.setting.id == -1) {
      alert('Setting required for new item');
      return;
    }

    const setting = this.item.setting;
    await this.$store.dispatch('settingModule/createItem', this.item);
    alert(`Created ${this.item.name}`);
    this.item = { ...this.item };
    this.item.setting = setting;
  }
}

export default EquipmentForm;
</script>
<style scoped>
.character-form {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
}
.character-form-element {
  margin: 1%;
  width: 10%;
  font-size: x-large;
}
.name-input {
  margin: 1%;
  width: 15%;
  font-size: x-large;
}
.top-div {
}
.submit-button {
  margin: 5%;
  width: 25%;
  font-size: x-large;
}
.list-input {
  margin-left: 1%;
  font-size: x-large;
  margin-left: auto;
}
.list-div {
  display: flex;
  flex-direction: column;
}
.list-element-div {
  display: flex;
  min-width: 550px;
}
.description-div {
  width: 25%;
  height: 100%;
}
textarea {
  min-height: 100px;
  width: 100%;
}
</style>
