<template>
  <div class="list-content-div">
    <auto-complete
      class="autocomplete"
      :items="allItems"
      :searchFunction="searchItems"
      :settingId="settingId"
      title="+"
      filterBy="name"
      v-on:itemClicked="addItem"
    />
    <div class="equipmentList">
      <table style="width: 100%; font-size: large">
        <tr>
          <th class="table-header-first"><b>Name</b></th>
          <th style="text-align: left">Notes</th>
          <th>Quantity</th>
          <th></th>
        </tr>
        <tr
          v-for="(characterItem, index) in characterItems"
          :key="index"
          class="table-row"
        >
          <td class="table-data-first">
            {{ characterItem.item.name }}
          </td>
          <td
            v-if="selectedItemId !== characterItem.id"
            @click="selectItem(characterItem)"
            class="notes-td"
          >
            {{ getNotesText(characterItem) }}
          </td>
          <td v-else @click="selectItem(characterItem)" class="notes-td">
            {{ characterItem.item.notes }}
          </td>
          <td>
            <input
              v-model="characterItem.quantity"
              v-on:change="updateQuantity(characterItem)"
              placeholder="0"
              style="max-width: 50px; text-align: right; margin: 5px"
            />
          </td>
          <td style="width: 5%">
            <button class="removeItemButton" @click="removeItem(characterItem)">
              X
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { CharacterItem } from '@/models/CharacterItem';
import { Item } from '@/models/Item';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AutoComplete } from './Autocomplete.vue';

@Component({ components: { AutoComplete } })
class ItemList extends Vue {
  @Prop()
  private characterItems!: CharacterItem[];
  @Prop()
  private allItems!: Item[];

  private selectedItemId = -1;

  get settingId(): number {
    return this.$store.getters['characterModule/currentCharacter'].setting.id;
  }

  async searchItems(settingId: number, searchString: string): Promise<Item[]> {
    console.log('searching');
    return await this.$store.dispatch('settingModule/searchItemsBySettingId', {
      settingId,
      searchString
    });
  }

  selectItem(characterItem: CharacterItem): void {
    if (this.selectedItemId === characterItem.id) {
      this.selectedItemId = -1;
      return;
    }
    this.selectedItemId = characterItem.id || 0;
  }

  async mounted(): Promise<void> {
    const character = this.$store.getters['characterModule/currentCharacter'];
    await this.$store.dispatch(
      'characterModule/fetchItemsByCurrentCharacter',
      character.id
    );
  }

  private getNotesText(characterItem: CharacterItem) {
    if (characterItem.id == this.selectedItemId) {
      return characterItem.item.notes;
    }
    let splitNotes = characterItem.item.notes.split('\n').filter((split) => {
      return split.length > 0;
    });
    const trimmed = splitNotes.length > 3;
    splitNotes = splitNotes.slice(0, 3);
    let returnString = splitNotes.join('\n');
    if (trimmed) {
      returnString += '...';
    }
    return returnString;
  }

  private addItem(item: Item) {
    this.$emit('addItem', item);
  }

  private removeItem(item: Item) {
    this.$emit('removeItem', item);
  }

  private updateQuantity(item: Item) {
    console.log(`updating quantity ${JSON.stringify(item)}`);
    this.$emit('updateQuantity', item);
  }
}

export default ItemList;
</script>
<style scoped>
.table-row :hover {
  color: #fdfeff;
  background: #444850;
}
.notes-td {
  text-align: left;
  font-size: small;
  white-space: pre-line;
}
.list-content-div {
  width: 100%;
}
.table-header-first {
  text-align: left;
  padding-right: 100%;
}
.table-row {
  border-color: #393c43;
  border-radius: 25px;
  background: #393c43;
  color: #bbbec6;
  border: 2px solid;
  cursor: pointer;
}
.table-data-first {
  text-align: left;
}
/* old stuff */

.autocomplete {
  position: relative;
  width: 50px;
}
.equipmentList {
  margin-top: 1%;
}
.equipmentElement {
  padding: 10px;
  display: flex;
  border-color: #393c43;
  color: #bbbec6;
  border: 2px solid;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.removeItemButton {
  align-self: right;
  height: 30%;
  margin-left: 5%;
}
input[type='checkbox'] {
  padding: 5%;
}
.equipment-element-info-div {
  display: flex;
  flex-direction: column;
  min-width: 175px;
}
h4 {
  margin-top: 1%;
  margin-left: 1%;
}
.element-control-div {
  display: flex;
  flex-direction: column-reverse;
}
.notes-p {
  white-space: pre-wrap;
}
</style>
