<template>
  <div>
    <form v-on:submit.prevent="login">
      <h2>Login</h2>
      <div class="input-div">
        <div class="input-element-div">
          <h4>Email:</h4>
          <input v-model="email" type="email" placeholder="Email address..." />
        </div>
        <div class="input-element-div">
          <h4>Password:</h4>
          <input v-model="password" type="password" placeholder="password..." />
        </div>
        <div id="error-div">
          {{ errorMessage }}
        </div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import store from '@/store';
import { Component, Vue } from 'vue-property-decorator';

@Component
class Login extends Vue {
  email = '';
  password = '';
  errorMessage = '';

  async login(): Promise<void> {
    await store.dispatch('userModule/login', {
      email: this.email,
      password: this.password
    });
    if (this.$store.getters['userModule/authUser']) {
      this.errorMessage = '';
      this.$router.push('/');
    } else {
      this.errorMessage =
        'Failed to login, username or password may be incorrect';
      this.password = '';
    }
  }
}

export default Login;
</script>
<style scoped>
div {
  color: #bbbec6;
}
.input-div {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  align-items: center;
}
input {
  font-size: x-large;
}
button {
  font-size: x-large;
  margin: 1%;
}
h4 {
  margin-right: auto;
  font-size: x-large;
  margin-top: 1%;
  margin-bottom: 1%;
}
.input-element-div {
  display: flex;
  width: 25%;
  margin: 1%;
}
#error-div {
  color: red;
}
</style>
