<template>
  <header>
    <section>
      <div class="nav-list">
        <div class="inline">
          <router-link to="/">Characters</router-link>
          <router-link to="/createCharacter">Create Character</router-link>
          <router-link v-if="!isLoggedIn" to="/login">Login</router-link>
          <router-link v-else to="/logout">Logout</router-link>
          <router-link to="/register">Register</router-link>
          <router-link to="/settings">Settings</router-link>
        </div>
      </div>
    </section>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class NavComponent extends Vue {
  get isLoggedIn(): boolean {
    const currentAuthUser = this.$store.getters['userModule/authUser'];
    const currentUser = this.$store.getters['userModule/currentUser'];
    console.log(`AUTH USER : ${JSON.stringify(currentAuthUser)}`);
    return (
      currentAuthUser !== undefined &&
      currentAuthUser !== null &&
      currentUser !== undefined &&
      currentUser !== null
    );
  }

  private async logout() {
    await this.$store.dispatch('userModule/logout');
  }
}
</script>

<style scoped>
.inline {
  display: flex;
}
.inline a {
  padding: 1%;
  color: white;
}
h3 {
  padding-left: 1%;
  display: flex;
}
</style>
