<template>
  <div class="content-div">
    <div class="character-div">
      <div class="character-info">
        <h1>
          {{ character.name }}
        </h1>
        <h2 style="margin-bottom: 1%; margin-top: 1%">
          {{ character.race.name }}
        </h2>
        <h2 style="margin-top: 1%">
          {{ character.clazz.name }}
        </h2>
        <div>Armor Class : {{ armorClass }}</div>
        <div>Movement Speed : {{ movementSpeed }}</div>
        <div class="stat-list">
          <div v-for="charStat in charStats" :key="charStat.id">
            {{ charStat.stat.name }} : {{ getCharStatValue(charStat) }}
          </div>
        </div>
      </div>
      <div class="meters-div">
        <div>
          <h3>HP</h3>
          <input
            v-model="character.hp"
            v-on:change="updateCharacter"
            class="name-input"
            placeholder="Current HP..."
          />
          /
          {{ maxHealth }}
        </div>
        <div>
          <h3>Endurant Charges</h3>
          <div>
            <input
              v-model="character.endurantCharges"
              v-on:change="updateCharacter"
              class="name-input"
              placeholder="Current Endurant Charges..."
            />
            /
            {{ maxEndurantCharges }}
          </div>
        </div>
        <div>
          <h3>Toxicity</h3>
          <div>
            <input
              v-model="character.toxicity"
              v-on:change="updateCharacter"
              class="name-input"
              placeholder="Current toxicity..."
            />
          </div>
        </div>
        <div>
          <h3>Hunger</h3>
          <div>
            <input
              v-model="character.hunger"
              v-on:change="updateCharacter"
              class="name-input"
              placeholder="Current hunger..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="tabs">
      <div class="tabs-header">
        <div
          v-for="title in tabTitles"
          :key="title"
          @click="selectedTitle = title"
          :class="{ selected: title == selectedTitle }"
          class="tab"
        >
          {{ title }}
        </div>
      </div>
      <slot />
    </div>
    <div v-if="selectedTitle == 'Skills'">
      <div class="roll-div">
        <div class="skill-list">
          <div
            v-for="groupedSkill in groupedSkills"
            :key="groupedSkill.stat.id"
          >
            <h4>{{ groupedSkill.stat.name }}</h4>
            <div v-for="charSkill in groupedSkill.skills" :key="charSkill.id">
              {{ charSkill.skill.name }} : {{ charSkill.experience }} ({{
                getSkillDiceText(charSkill)
              }})
              <button @click="rollSkill(charSkill)">Roll</button>
            </div>
          </div>
          <div>
            <h4>General</h4>
            <div>
              Overdose : (1d20 + {{ Math.ceil(character.hp / 2) }})
              <button @click="rollOverdose">Roll</button>
            </div>
            <div>
              Initiative : ({{ getInitiativeModifierText() }})
              <button @click="rollInitiative">Roll</button>
            </div>
          </div>
        </div>
        <div class="dice-div">
          <dice-roller
            :rollData="rollData"
            :characterEquipment="characterEquipment"
            :characterStatusEffects="characterStatusEffects"
          />
        </div>
      </div>
    </div>
    <div v-if="selectedTitle == 'Equipment'">
      <div class="list-div">
        <equipment-list
          :characterEquipments="characterEquipment"
          :allEquipment="allEquipment"
          v-on:addEquipment="addEquipment"
          v-on:removeEquipment="removeEquipment"
          v-on:toggleEquip="toggleEquip"
        />
      </div>
    </div>
    <div v-if="selectedTitle == 'Status Effects'">
      <div class="list-div">
        <status-effect-list
          :characterStatusEffects="characterStatusEffects"
          :allEffects="allEffects"
          v-on:addEffect="addEffect"
          v-on:removeEffect="removeEffect"
        />
      </div>
    </div>
    <div v-if="selectedTitle == 'Notes'">
      <div class="list-div">
        <textarea v-on:change="updateNotes" v-model="character.notes" />
      </div>
    </div>
    <div v-if="selectedTitle == 'Items'">
      <div class="list-div">
        <item-list
          :characterItems="characterItems"
          :allItems="allItems"
          v-on:addItem="addItem"
          v-on:removeItem="removeItem"
          v-on:updateQuantity="updateQuantity"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Character } from '@/models/Character';
import { CharacterEquipment } from '@/models/CharacterEquipment';
import { CharacterItem } from '@/models/CharacterItem';
import { CharacterSkill } from '@/models/CharacterSkill';
import { CharacterStat } from '@/models/CharacterStat';
import { CharacterStatusEffect } from '@/models/CharacterStatusEffect';
import { Dice } from '@/models/Dice';
import { Equipment } from '@/models/Equipment';
import { Item } from '@/models/Item';
import { RollData } from '@/models/RollData';
import { Stat } from '@/models/Stat';
import { StatusEffect } from '@/models/StatusEffect';
import { DiceFactory } from '@/services/dice.factory';
import { ModFactory } from '@/services/mod.factory';
import { Component, Vue } from 'vue-property-decorator';
import DiceRoller from './DiceRoller.vue';
import EquipmentList from './EquipmentList.vue';
import ItemList from './ItemList.vue';
import StatusEffectList from './StatusEffectList.vue';
import Tab from './Tab.vue';
import TabsWrapper from './TabsWrapper.vue';

@Component({
  components: {
    DiceRoller,
    EquipmentList,
    StatusEffectList,
    TabsWrapper,
    Tab,
    ItemList
  }
})
class Play extends Vue {
  private tabTitles = [
    'Skills',
    'Equipment',
    'Status Effects',
    'Notes',
    'Items'
  ];
  private rollData: RollData = { trigger: 0, dice: [], modifier: 0 };
  private selectedTitle: string = this.tabTitles[0];

  get character(): Character {
    return this.$store.getters['characterModule/currentCharacter'];
  }
  get charStats(): CharacterStat[] {
    return this.$store.getters['characterModule/currentCharacterStats'];
  }
  get groupedSkills(): { stat: Stat; skills: CharacterSkill[] }[] {
    const groupedSkillsMap = new Map<number, CharacterSkill[]>();
    this.charSkills.forEach((charSkill) => {
      const stat = charSkill.skill.stat;
      const collection = groupedSkillsMap.get(stat.id);
      if (!collection) {
        groupedSkillsMap.set(stat.id, [charSkill]);
      } else {
        collection.push(charSkill);
      }
    });
    console.log(`char skills : ${JSON.stringify(this.charSkills)}`);
    console.log(`char stats : ${JSON.stringify(this.charStats)}`);
    const groupedSkills: { stat: Stat; skills: CharacterSkill[] }[] = [];
    groupedSkillsMap.forEach((skills: CharacterSkill[], statId: number) => {
      const charStat = this.charStats.find((charStat) => {
        return charStat.stat.id == statId;
      });
      if (!charStat) {
        console.error(`No stat found for statId ${statId}`);
        return;
      }
      skills = skills.sort((a, b) => {
        if (a.experience > b.experience) {
          return -1;
        } else if (b.experience > a.experience) {
          return 1;
        }
        return 0;
      });
      const group = { stat: charStat.stat, skills: skills };
      groupedSkills.push(group);
    });
    return groupedSkills;
  }
  get charSkills(): CharacterSkill[] {
    const charSkills: CharacterSkill[] = this.$store.getters[
      'characterModule/currentCharacterSkills'
    ];
    return charSkills;
  }
  get characterEquipment(): CharacterEquipment[] {
    return this.$store.getters['characterModule/currentCharacterEquipment'];
  }
  get allEquipment(): Equipment[] {
    return this.$store.getters['settingModule/equipment'];
  }
  get characterStatusEffects(): CharacterStatusEffect[] {
    return this.$store.getters['characterModule/currentCharacterStatusEffects'];
  }
  get characterItems(): CharacterItem[] {
    return this.$store.getters['characterModule/currentCharacterItems'];
  }
  get allItems(): CharacterItem[] {
    return this.$store.getters['settingModule/items'];
  }
  get allEffects(): StatusEffect[] {
    return this.$store.getters['settingModule/statusEffects'];
  }
  get maxEndurantCharges(): number {
    const endurance = this.charStats.find((charStat) => {
      return charStat.stat.name === 'Endurance';
    });
    if (!endurance) {
      console.log('No endurance stat found');
      return 0;
    }

    return Math.max(1, ModFactory.buildModifier(endurance));
  }
  get armorClass(): number {
    const dexterity = this.charStats.find((charStat) => {
      return charStat.stat.name === 'Dexterity';
    });
    const constition = this.charStats.find((charStat) => {
      return charStat.stat.name === 'Constitution';
    });
    const intelligence = this.charStats.find((charStat) => {
      return charStat.stat.name === 'Intelligence';
    });
    const wisdom = this.charStats.find((charStat) => {
      return charStat.stat.name === 'Wisdom';
    });

    if (!dexterity || !constition || !intelligence || !wisdom) {
      console.log('Armor class stats not detected');
      return 0;
    }

    const dexterityModifier = ModFactory.buildModifier(dexterity);
    const constitutionModifier = ModFactory.buildModifier(constition);
    const intelligenceModifier = ModFactory.buildModifier(intelligence);
    const wisdomModifier = ModFactory.buildModifier(wisdom);

    const armorModifier = ModFactory.buildArmorClassModifier(
      this.characterEquipment,
      this.characterStatusEffects
    );
    return (
      armorModifier +
      Math.ceil(
        10 +
          dexterityModifier +
          constitutionModifier * 0.5 +
          (intelligenceModifier + wisdomModifier) * 0.25
      )
    );
  }
  get maxHealth(): number {
    const maxHp = this.character.maxHp || 0;
    const maxHpModifier = ModFactory.buildMaxHpModifier(
      this.characterEquipment,
      this.characterStatusEffects
    );
    return maxHp + maxHpModifier;
  }
  get movementSpeed(): number {
    const endurance = this.charStats.find((charStat) => {
      return charStat.stat.name === 'Endurance';
    });
    const dexterity = this.charStats.find((charStat) => {
      return charStat.stat.name === 'Dexterity';
    });

    if (!endurance || !dexterity) {
      console.log('Movement speed stats not detected');
      return 0;
    }
    const enduranceModifier = ModFactory.buildModifier(endurance);
    const dexterityModifier = ModFactory.buildModifier(dexterity);
    const movementSpeedModifier = ModFactory.buildMovementSpeedModifier(
      this.characterEquipment,
      this.characterStatusEffects
    );
    return (
      Math.ceil((30 + dexterityModifier * 3 + enduranceModifier * 2) / 5) * 5 +
      movementSpeedModifier
    );
  }

  private async updateSkill(charSkill: CharacterSkill) {
    const stat = charSkill.skill.stat;
    const charStat = this.charStats.find((charStat) => {
      return charStat.stat.id == stat.id;
    });
    if (!charStat) {
      throw new Error(`Missing stat ${charSkill.id}`);
    }
    const modifier = ModFactory.buildStatModifier(
      charStat,
      this.characterEquipment,
      this.characterStatusEffects
    );
    charSkill.experience += charStat?.value + modifier;
    await this.$store.dispatch('characterModule/updateSkill', charSkill);
  }

  private async rollSkill(charSkillFromSort: CharacterSkill) {
    const skillToRoll = this.charSkills.find(
      (charSkill) => charSkill.id == charSkillFromSort.id
    );
    if (!skillToRoll) {
      console.error(`Char Skill not found for ${charSkillFromSort.id}`);
      return;
    }
    const dice = [new Dice(20, 1), DiceFactory.buildModDice(skillToRoll)];
    const modifier = ModFactory.buildTotalCharacterSkillModifier(
      skillToRoll,
      this.characterEquipment,
      this.characterStatusEffects
    );
    this.rollData = {
      trigger: this.rollData.trigger + 1,
      dice: dice,
      modifier: modifier
    };
    await this.updateSkill(skillToRoll);
  }

  private async updateNotes() {
    return this.updateCharacter();
  }

  private async rollOverdose() {
    const dice = [new Dice(20, 1)];
    const modifier = ModFactory.buildOverdoseModifier(
      this.character.hp,
      this.characterEquipment,
      this.characterStatusEffects
    );
    this.rollData = {
      trigger: this.rollData.trigger + 1,
      dice: dice,
      modifier: modifier
    };
  }

  private async rollInitiative() {
    const modifier = ModFactory.buildInitiativeModifier(this.charStats);
    let d20 = new Dice(20);
    this.rollData = {
      trigger: this.rollData.trigger + 1,
      dice: [d20],
      modifier: modifier
    };
  }

  private getSkillDiceText(charSkill: CharacterSkill) {
    const modDice = DiceFactory.buildModDice(charSkill);

    let d20 = new Dice(20);
    return `${d20.toString()} + ${modDice.getSign()}${modDice.toStringNoSign()}`;
  }

  private getInitiativeModifierText() {
    const modifier = ModFactory.buildInitiativeModifier(this.charStats);
    let d20 = new Dice(20);
    return `${d20.toString()} + ${modifier}`;
  }

  private async addEquipment(equipment: Equipment) {
    const newCharEquipment = new CharacterEquipment();
    newCharEquipment.character = this.character;
    newCharEquipment.equipment = equipment;
    await this.$store.dispatch(
      'characterModule/insertCharacterEquipment',
      newCharEquipment
    );
  }

  private async removeEffect(characterStatusEffect: CharacterStatusEffect) {
    await this.$store.dispatch(
      'characterModule/removeStatusEffect',
      characterStatusEffect
    );
  }

  private async addEffect(statusEffect: StatusEffect) {
    const newCharacterStatusEffect = new CharacterStatusEffect();
    newCharacterStatusEffect.character = this.character;
    newCharacterStatusEffect.statusEffect = statusEffect;
    await this.$store.dispatch(
      'characterModule/insertStatusEffect',
      newCharacterStatusEffect
    );
  }

  private async addItem(item: Item) {
    const newItem = new CharacterItem();
    newItem.character = this.character;
    newItem.item = item;
    await this.$store.dispatch('characterModule/insertCharacterItem', newItem);
  }

  private async removeItem(item: Item) {
    await this.$store.dispatch('characterModule/removeItem', item);
  }

  private async removeEquipment(equipment: CharacterEquipment) {
    await this.$store.dispatch('characterModule/removeEquipment', equipment);
  }

  private async updateQuantity(item: Item) {
    await this.$store.dispatch(
      'characterModule/updateCharacterItemQuantity',
      item
    );
  }

  private async toggleEquip(equipment: CharacterEquipment) {
    if (equipment.isEquipped) {
      await this.$store.dispatch('characterModule/equipEquipment', equipment);
    } else {
      await this.$store.dispatch('characterModule/unequipEquipment', equipment);
    }
  }

  private async updateCharacter() {
    await this.$store.dispatch(
      'characterModule/updateCharacter',
      this.character
    );
  }

  private getCharStatValue(characterStat: CharacterStat) {
    const modifier = ModFactory.buildStatModifier(
      characterStat,
      this.characterEquipment,
      this.characterStatusEffects
    );
    return characterStat.value + modifier;
  }
}

export default Play;
</script>
<style scoped>
.character-info {
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: flex-end;
  width: 50%;
}
.character-div {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5%;
  color: #bbbec6;
}
.content-div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: right;
  margin: 1%;
}
.stat-list {
  margin-left: auto;
  margin-top: 1%;
  color: #bbbec6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.skill-list {
  margin-left: auto;
  text-align: right;
}
.dice-div {
  border: 2px solid #bbbec6;
  width: 25%;
  border-radius: 25px;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 100%;
}
.list-div {
  margin-bottom: 5%;
  display: flex;
  margin-bottom: 1%;
  margin-top: 1%;
  border: 2px solid;
  padding: 3%;
  padding-bottom: 15%;
  background: #36393f;
  border-color: #393c43;
  border-radius: 25px;
  color: #bbbec6;
}
.roll-div {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1%;
  padding: 1%;
  background: #393c43;
  border-color: #393c43;
  border-radius: 25px;
  color: #bbbec6;
}
.tabs {
  color: #bbbec6;
}
.tab {
  margin: 1%;
  padding: 1%;
  border-radius: 2px;
}
.tab:hover {
  background-color: #34363c;
}
.tabs-header {
  display: flex;
}
.selected {
  margin: 1%;
  background-color: #393c43;
}
.selected:hover {
  background-color: #393c43;
}
.meters-div {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.meters-div input {
}
textarea {
  width: 100%;
  min-height: 225px;
}
</style>
