<template>
  <div>
    <form @submit.prevent="register">
      <h2>Register</h2>
      <div class="input-div">
        <div class="input-element-div">
          <h4>Display Name:</h4>

          <input v-model="name" type="text" placeholder="Display name..." />
        </div>
        <div class="input-element-div">
          <h4>Email:</h4>

          <input v-model="email" type="email" placeholder="Email address..." />
        </div>

        <div class="input-element-div">
          <h4>Password:</h4>

          <input v-model="password" type="password" placeholder="password..." />
        </div>
        <div class="input-element-div">
          <h4>Confirm Password:</h4>
          <input
            v-model="confirmPassword"
            type="password"
            placeholder="password..."
          />
        </div>
        <div id="error-div">
          {{ errorMessage }}
        </div>
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import store from '@/store';
import { Vue, Component } from 'vue-property-decorator';
import User from '@/models/auth/User';

@Component
class Register extends Vue {
  name = '';
  password = '';
  confirmPassword = '';
  email = '';
  errorMessage = '';

  async register(): Promise<void> {
    const newUser = new User();
    newUser.email = this.email;
    newUser.name = this.name;
    if (this.password !== this.confirmPassword) {
      this.errorMessage = 'Passwords do not match';
      this.password = '';
      this.confirmPassword = '';
      return;
    }
    await store.dispatch('userModule/register', {
      user: newUser,
      password: this.password
    });
    this.$router.push('/');
  }
}

export default Register;
</script>
<style scoped>
div {
  color: #bbbec6;
}
.input-div {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  align-items: center;
}
input {
  font-size: x-large;
}
button {
  font-size: x-large;
  margin: 1%;
}
#error-div {
  color: red;
}
h4 {
  margin-right: auto;
  font-size: x-large;
  margin-top: 1%;
  margin-bottom: 1%;
}
.input-element-div {
  display: flex;
  width: 30%;
  margin: 1%;
}
</style>
