<template>
  <div>
    <li v-for="settingElement in settings" :key="settingElement.id">
      <SettingDetail :setting="settingElement" />
    </li>
  </div>
</template>

<script lang="ts">
import Setting from '@/models/Setting';
import { Component, Vue } from 'vue-property-decorator';
import SettingDetail from './SettingDetail.vue';

@Component({
  components: {
    SettingDetail
  }
})
class SettingList extends Vue {
  get settings(): Setting[] {
    return this.$store.getters['settingModule/settings'];
  }
}

export default SettingList;
</script>
