<template>
  <div>
    <h1>{{ setting.name }}</h1>
  </div>
</template>

<script lang="ts">
import Setting from '@/models/Setting';
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
class SettingDetail extends Vue {
  @Prop()
  private setting!: Setting;
}

export default SettingDetail;
</script>
