<template>
  <div class="list-content-div">
    <auto-complete
      class="autocomplete"
      :items="allEffects"
      :searchFunction="searchEffects"
      :settingId="settingId"
      title="+"
      filterBy="name"
      v-on:itemClicked="addEffect"
    />
    <div class="equipmentList">
      <table style="width: 100%; font-size: large">
        <tr>
          <th class="table-header-first"><b>Name</b></th>
          <th style="text-align: left">Modifiers</th>
          <th></th>
        </tr>
        <tr
          v-for="(characterStatusEffect, index) in characterStatusEffects"
          :key="index"
          class="table-row"
          @click="selectEffect(characterStatusEffect)"
        >
          <td class="table-data-first">
            {{ characterStatusEffect.statusEffect.name }}
          </td>
          <td class="notes-td">
            {{ getShortText(characterStatusEffect) }}
          </td>
          <td style="width: 5%" @click.stop>
            <button
              class="removeItemButton"
              @click="removeEffect(characterStatusEffect)"
            >
              X
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { CharacterStatusEffect } from '@/models/CharacterStatusEffect';
import { StatusEffect } from '@/models/StatusEffect';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AutoComplete } from './Autocomplete.vue';

@Component({ components: { AutoComplete } })
class StatusEffectList extends Vue {
  @Prop()
  private characterStatusEffects!: CharacterStatusEffect[];
  @Prop()
  private allEffects!: StatusEffect[];

  private selectedEffectId = -1;

  get settingId(): number {
    return this.$store.getters['characterModule/currentCharacter'].setting.id;
  }

  async searchEffects(
    settingId: number,
    searchString: string
  ): Promise<StatusEffect[]> {
    console.log('searching');
    return await this.$store.dispatch(
      'settingModule/searchStatusEffectsBySettingId',
      {
        settingId,
        searchString
      }
    );
  }

  async mounted(): Promise<void> {
    const character = this.$store.getters['characterModule/currentCharacter'];
    await this.$store.dispatch(
      'characterModule/fetchStatusEffectsByCurrentCharacter',
      character.id
    );
  }

  private addEffect(statusEffect: StatusEffect) {
    this.$emit('addEffect', statusEffect);
  }

  private removeEffect(statusEffect: CharacterStatusEffect) {
    this.$emit('removeEffect', statusEffect);
  }

  private getShortText(characterStatusEffect: CharacterStatusEffect) {
    let modText: string[] = [];
    characterStatusEffect.statusEffect.statModifiers.forEach((statModifier) => {
      let name = statModifier.stat.name;
      if (this.selectedEffectId !== characterStatusEffect.id) {
        name = name.toUpperCase();
        name = name.substring(0, 3);
      }
      modText.push(`${name} : ${statModifier.value}`);
    });
    characterStatusEffect.statusEffect.skillModifiers.forEach(
      (skillModifier) => {
        let name = skillModifier.skill.name;
        if (this.selectedEffectId !== characterStatusEffect.id) {
          name = name.toUpperCase();
          name = name.substring(0, 3);
        }
        modText.push(`${name} : ${skillModifier.value}`);
      }
    );
    const universalModifier =
      characterStatusEffect.statusEffect.universalModifier;
    if (universalModifier.hp > 0) {
      const hpString =
        this.selectedEffectId !== characterStatusEffect.id
          ? 'HP'
          : 'Health Points';
      modText.push(`${hpString} : ${universalModifier.hp}`);
    }
    if (universalModifier.armorClass) {
      const acString =
        this.selectedEffectId !== characterStatusEffect.id
          ? 'AC'
          : 'Armor Class';
      modText.push(`${acString} : ${universalModifier.armorClass}`);
    }
    if (universalModifier.movementSpeed) {
      const speedString =
        this.selectedEffectId !== characterStatusEffect.id ? 'SPD' : 'Speed';
      modText.push(`${speedString} : ${universalModifier.movementSpeed}`);
    }
    if (universalModifier.overdose) {
      const overdoseString =
        this.selectedEffectId !== characterStatusEffect.id ? 'OD' : 'Overdose';
      modText.push(`${overdoseString} : ${universalModifier.overdose}`);
    }
    if (universalModifier.universal) {
      const allString =
        this.selectedEffectId !== characterStatusEffect.id ? 'ALL' : 'All';
      modText.push(`${allString} : ${universalModifier.universal}`);
    }
    return modText.join('; ');
  }

  private selectEffect(characterStatusEffect: CharacterStatusEffect) {
    if (this.selectedEffectId === characterStatusEffect.id) {
      this.selectedEffectId = -1;
      return;
    }
    this.selectedEffectId = characterStatusEffect.id || 0;
  }
}

export default StatusEffectList;
</script>
<style scoped>
.table-row :hover {
  color: #fdfeff;
  background: #444850;
}
.notes-td {
  text-align: left;
  font-size: small;
  white-space: pre-line;
}
.list-content-div {
  width: 100%;
}
.table-header-first {
  text-align: left;
  padding-right: 100%;
}
.table-row {
  border-color: #393c43;
  border-radius: 25px;
  background: #393c43;
  color: #bbbec6;
  border: 2px solid;
  cursor: pointer;
}
.table-data-first {
  text-align: left;
}
/* old stuff */

.autocomplete {
  position: relative;
  width: 50px;
}
.equipmentList {
  margin-top: 1%;
}
.equipmentElement {
  padding: 10px;
  display: flex;
  border-color: #393c43;
  color: #bbbec6;
  border: 2px solid;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.removeItemButton {
  align-self: right;
  height: 30%;
  margin-left: 5%;
}
input[type='checkbox'] {
  padding: 5%;
}
.equipment-element-info-div {
  display: flex;
  flex-direction: column;
  min-width: 175px;
}
h4 {
  margin-top: 1%;
  margin-left: 1%;
}
.element-control-div {
  display: flex;
  flex-direction: column-reverse;
}
.notes-p {
  white-space: pre-wrap;
}
</style>
