<template>
  <div style="color: #bbbec6">
    <h1>Create Status Effect</h1>
    <form class="character-form" v-on:submit.prevent="createStatusEffect">
      <div>
        <select
          name="settings"
          id="settings"
          class="character-form-element"
          v-model="statusEffect.setting"
          v-on:change="updateSettingData()"
          style="min-width: 225px"
        >
          <option
            v-for="setting in settings"
            :key="setting.id"
            :value="setting"
          >
            {{ setting.name }}
          </option>
        </select>
      </div>
      <div class="top-div">
        <input
          v-model="statusEffect.name"
          class="name-input"
          placeholder="Status effect name..."
          style="min-width: 225px"
        />
      </div>
      <div>
        <h3>Modifiers</h3>
        <div class="list-div">
          <div class="list-element-div">
            Health Points
            <input
              class="list-input"
              v-model="statusEffect.universalModifier.hp"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Armor Class
            <input
              class="list-input"
              v-model="statusEffect.universalModifier.armorClass"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Movement Speed
            <input
              class="list-input"
              v-model="statusEffect.universalModifier.movementSpeed"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Overdose
            <input
              class="list-input"
              v-model="statusEffect.universalModifier.overdose"
              placeholder="0"
            />
          </div>
          <div class="list-element-div">
            Universal
            <input
              class="list-input"
              v-model="statusEffect.universalModifier.universal"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <h3>Stat Modifiers</h3>
        <div class="list-div">
          <div
            class="list-element-div"
            v-for="(modifier, index) in statModifiers"
            :key="index"
          >
            {{ modifier.stat.name }}
            <input
              class="list-input"
              v-model="statModifiers[index].value"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <h3>Skill Modifiers</h3>
        <div class="list-div">
          <div
            class="list-element-div"
            v-for="(modifier, index) in skillModifiers"
            :key="index"
          >
            {{ modifier.skill.name }}
            <input
              class="list-input"
              v-model="skillModifiers[index].value"
              placeholder="0"
            />
          </div>
        </div>
      </div>
      <div>
        <button class="submit-button" type="submit" style="min-width: 225px">
          Submit
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Setting from '@/models/Setting';
import { Skill } from '@/models/Skill';
import { SkillModifier } from '@/models/SkillModifier';
import { Stat } from '@/models/Stat';
import { StatModifier } from '@/models/StatModifier';
import { StatusEffect } from '@/models/StatusEffect';
import { Component, Vue } from 'vue-property-decorator';

@Component
class StatusEffectForm extends Vue {
  defaultEffect: StatusEffect = {
    id: undefined,
    name: '',
    setting: {
      id: -1,
      name: ''
    },
    universalModifier: {
      id: undefined,
      hp: 0,
      armorClass: 0,
      movementSpeed: 0,
      overdose: 0,
      universal: 0
    },
    statModifiers: [],
    skillModifiers: []
  };

  statusEffect: StatusEffect = {
    ...this.defaultEffect
  };

  private async updateSettingData() {
    console.log(`Setting updated to ${this.statusEffect.setting}`);
    await this.$store.dispatch(
      'settingModule/fetchStatsBySettingId',
      this.statusEffect.setting.id
    );
    await this.$store.dispatch(
      'settingModule/fetchSkillsBySettingId',
      this.statusEffect.setting.id
    );
  }

  get settings(): Setting[] {
    return this.$store.getters['settingModule/settings'];
  }

  get skills(): Skill[] {
    return this.$store.getters['settingModule/skills'];
  }

  get statModifiers(): StatModifier[] {
    return this.stats.map((stat) => {
      const modifier = new StatModifier();
      modifier.setting = this.statusEffect.setting;
      modifier.stat = stat;
      modifier.value = 0;
      return modifier;
    });
  }

  get skillModifiers(): SkillModifier[] {
    return this.skills.map((skill) => {
      const modifier = new SkillModifier();
      modifier.setting = this.statusEffect.setting;
      modifier.skill = skill;
      modifier.value = 0;
      return modifier;
    });
  }

  private async createStatusEffect() {
    if (this.statusEffect.name == '') {
      alert('Name required for new effect');
      return;
    }
    if (this.statusEffect.setting.id == -1) {
      alert('Setting required for new effect');
      return;
    }

    this.statusEffect.statModifiers = this.statModifiers.filter((modifier) => {
      return (
        modifier.value && modifier.value !== 0 && this.isNumber(modifier.value)
      );
    });

    this.statusEffect.skillModifiers = this.skillModifiers.filter(
      (modifier) => {
        return (
          modifier.value &&
          modifier.value !== 0 &&
          this.isNumber(modifier.value)
        );
      }
    );

    const setting = this.statusEffect.setting;
    await this.$store.dispatch(
      'settingModule/createStatusEffect',
      this.statusEffect
    );
    alert(`Created ${this.statusEffect.name}`);
    this.statusEffect = this.defaultEffect;
    this.statusEffect.setting = setting;
  }

  get stats(): Stat[] {
    return this.$store.getters['settingModule/stats'];
  }

  private isNumber(value: string | number) {
    const numberValue = Number(value);
    return !isNaN(numberValue);
  }
}

export default StatusEffectForm;
</script>
<style scoped>
.character-form {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
}
.character-form-element {
  margin: 1%;
  width: 10%;
  font-size: x-large;
}
.name-input {
  margin: 1%;
  width: 15%;
  font-size: x-large;
}
.top-div {
}
.submit-button {
  margin: 5%;
  width: 25%;
  font-size: x-large;
}
.list-input {
  margin-left: 1%;
  font-size: x-large;
  margin-left: auto;
}
.list-div {
  display: flex;
  flex-direction: column;
}
.list-element-div {
  display: flex;
  min-width: 550px;
}
</style>
