<template>
  <div class="tab-content" v-show="title == selectedTitle">
    {{ selectedTitle }}
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from 'vue-property-decorator';

@Component
class Tab extends Vue {
  @Prop()
  private title!: string;
  @Inject('selectedTitle')
  private selectedTitle!: string;

  updated(): void {
    console.log(`TAB TITLE : ${this.title}, ${this.selectedTitle}`);
  }
}

export default Tab;
</script>
<style scoped>
.tabs {
}
.tabs-header {
}
</style>
