<template>
  <div class="tabs">
    <ul class="tabs-header">
      <li
        v-for="title in tabTitles"
        :key="title"
        @click="selectedTitle = title"
        :class="{ selected: title == selectedTitle }"
      >
        {{ selectedTitle }}
        {{ title }}
      </li>
    </ul>
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Provide, Vue } from 'vue-property-decorator';

@Component
class TabsWrapper extends Vue {
  @Prop()
  private tabTitles!: string[];
  private _selectedTitle!: string;

  @Provide('selectedTitle')
  get selectedTitle(): string {
    if (!this._selectedTitle) {
      this._selectedTitle = this.tabTitles[0];
    }

    return this._selectedTitle;
  }

  set selectedTitle(newTitle: string) {
    this._selectedTitle = newTitle;
  }
}

export default TabsWrapper;
</script>
<style scoped>
.tabs {
}
.tabs-header {
}
.selected {
  color: red;
}
</style>
tabTitles
