<template>
  <div id="app">
    <nav-component />
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NavComponent from './components/NavComponent.vue';
@Component({
  components: {
    NavComponent
  }
})
export default class App extends Vue {}
</script>

<style>
@import url('./style.css');
</style>
